<html>
    <head>
        <title>UserLogin</title>
    </head>
    <body>
        <h1>UserLogin</h1>
        <form action= "/users/login" method="post" >
            <pre>
            email : <input type="text" name="email" style="width:100px;"></br></br>
            password  : <input type="text" name="password" style="width:100px;"></br></br>
            <p>
                <input type="submit" value="login">  <input type="button" value="sign up" onclick="location.href='/users/add'">
            </p>
            </pre>
        </form>
    </body>
</html>