
<html>
    <head>
        <title>UserDetail</title>
    </head>
    <body>
        <h1>UserDetail</h1>
            
        <div class="filebox"> 
        </div>
        
        <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
            <label for="img">Select File</label> 
            <input type="file" id="imgFile" name="imgFile"> 
            <input type="submit" value="Upload">
        </form>

        <input type="button" value="back" onclick="history.back(-1)">
    </body>
</html>