<html>
    <head>
        <title>UserList</title>
    </head>
    <body>
        <h1>Hello World</h1>
            <ul>
                <li><%=info.name %> 님, 반갑습니다.</li></br></br></br>
                <input type="button" value="userList" onclick="location.href='/users/list'"> <input type="button" value="Detail" onclick="location.href='/users/<%=info._id %>'"> <input type="button" value="Logout" onclick="location.href='/users/logout'">
            </ul>
    </body>
</html>