<html>
<head>
    <title>CountryAdd</title>
</head>
<body>
    <h1>CountryAdd</h1>
    <form action= "/country/add" method="post" >
<pre>
name : <input type="text" name="name" style="width:100px;"></br></br>
language  : <input type="text" name="language" style="width:100px;"></br></br>
capital : <input type="text" name="capital" style="width:100px;"></br>
<p>
<input type="submit" value="add">  <input type="button" value="back" onclick="history.back(-1)">
</p>
</pre>
    </form>
</body>
</html>